{{!< default}}

{{#post}}
<article class="gh-article {{post_class}}">
  <header class="gh-header gh-canvas">
    <div class="gh-post-meta">
      <time datetime="{{date format="YYYY-MM-DD"}}">{{#has tag="isnan"}}2026{{else}}{{date format="DD MMM YYYY"}}{{/has}}</time>
      {{#if primary_tag}}
        <span>{{primary_tag.name}}</span>
      {{/if}}
    </div>

    <h1 class="gh-title">{{title}}</h1>

    {{#if custom_excerpt}}
      <p class="gh-excerpt">{{custom_excerpt}}</p>
    {{/if}}

    {{#if feature_image}}
      <figure class="gh-feature-image">
        <img src="{{feature_image}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" />
        {{#if feature_image_caption}}
          <figcaption>{{feature_image_caption}}</figcaption>
        {{/if}}
      </figure>
    {{/if}}
  </header>

  <div class="gh-content gh-canvas">
    {{content}}
  </div>

  {{!-- Comments (if enabled in Ghost settings) --}}
  <section class="gh-post-comments gh-canvas">
    {{comments}}
  </section>
</article>
{{/post}}
